{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Camp</title>
    <link rel="stylesheet" href="{% static 'css/camp_detail.css' %}">
</head>
<style type="text/css">
    body {
        background-image: url("{% static 'images/photo2.jpeg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    /* Solution alternative pour iPhone avec pseudo-élément */
    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("{% static 'images/photo2.jpeg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    
    /* Media query spécifique pour iOS */
    @supports (-webkit-touch-callout: none) {
        body {
            background-image: url("{% static 'images/photo2.jpeg' %}");
            background-size: auto;
            background-repeat: repeat;
            background-position: center;
            background-attachment: scroll;
        }
        
        body::before {
            display: none;
        }
    }
    .home-button {
        position: fixed; /* Fixé à l'écran, toujours visible */
        top: 10px; /* Marges depuis le haut */
        left: 10px; /* Marges depuis la gauche */
        background-color: rgb(0,39,152); /* Couleur de fond */
        color: white; /* Couleur du texte */
        text-decoration: none; /* Supprimer le soulignement */
        font-size: 16px; /* Taille du texte */
        padding: 10px 20px; /* Espacement interne */
        border-radius: 5px; /* Coins arrondis */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre */
        transition: background-color 0.3s ease; /* Animation de survol */
    }
    
    .home-button:hover {
        background-color: #0056b3; /* Couleur au survol */
        text-decoration: none; /* Assure qu'il n'y a pas de soulignement */
    }
</style>
<body>
    <a href="{% url 'home' %}" class="home-button">Home</a>
    <div class="drive-container">
        <a href="https://drive.google.com/drive/folders/1d-A9KQboshjex7MwaMOCfKkg-zZTw-br?usp=share_link" target="_blank" class="drive-link">
            <span class="drive-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"/>
                </svg>
            </span>
            <span class="drive-title">Drive CDC</span>
        </a>
    
        <a href="{{ camp.drive }}" target="_blank" class="drive-link">
            <span class="drive-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"/>
                </svg>
            </span>
            <span class="drive-title">Drive du Camp</span>
        </a>
    </div>
    <header>
        <h1>Détails du Camp {{ camp.numero }}</h1>
    </header>
    <main>
        {% if camp %}
        <table border="1">
            <theader>
                <tr>
                    <th>Chefs de camps</th>
                    <th>Adresse</th>
                    <th>Groupes locaux</th>
                    <th>Nombre d'enfants</th>
                    <th>Nombre d'animateurs</th>
                    <th>Staff</th>
                    <th>Date de JN</th>
                    <th>Fichiers rendus</th>
                    <th>Fichiers validés</th>
                </tr>
            </theader>
            <tbody>
                <tr>
                    <td>{{ camp.prenomcdc1|default_if_none:"" }} {{ camp.nomcdc1|default_if_none:"" }}, {{ camp.prenomcdc2|default_if_none:"" }} {{ camp.nomcdc2|default_if_none:"" }}</td>
                    <td>{{ camp.adresse|default_if_none:"" }}</td>
                    <td>{{ camp.GL1|default_if_none:"" }} {{ camp.GL2|default_if_none:"" }} {{ camp.GL3|default_if_none:"" }} {{ camp.GL4|default_if_none:"" }}</td>
                    <td>{{ camp.enfants|default_if_none:"" }}</td>
                    <td>{{ camp.animateurs|default_if_none:"" }}</td>
                    <td>{{ camp.staff1|default_if_none:"" }} {{ camp.staff2|default_if_none:"" }} {{ camp.staff3|default_if_none:"" }}</td>
                    <td>{{ camp.date_JN|default_if_none:"" }}</td>
                    <td>{{ camp.fichiers_rendus }}</td>
                    <td>{{ camp.fichiers_valides }}</td>
                </tr>
            </tbody>
        </table>   
        <table border="1">
            <thead>
                <tr>
                    <th>Fichier</th>
                    <th>Deadline</th>
                    <th>Télécharger</th>
                    <th>Téléverser</th>
                    <th>État</th>
                    <th>Commentaires</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                <tr>
                    <td>{% if document.slug == "sncf_2026" %}<a href="#" target="_blank">{{ document.name }}</a>{% else %}{{ document.name }}{% endif %}</td>
                    <td>{{ document.deadline|default:"Aucune date" }}</td>
                    <td>
                        {% if document.slug == "inscriptions_prio" or document.slug == "JN_2026" or document.slug == "Budget_RDV" or document.slug == "voiture_2026" %}
                        {% elif document.slug == "maitrise_2026" %}
                        <div style="display: flex; gap: 5px;">
                            <a href="#" target="_blank" class="drive-link"><span class="drive-title">1</span></a>
                            <a href="#" target="_blank" class="drive-link"><span class="drive-title">2</span></a>
                            <a href="#" target="_blank" class="drive-link"><span class="drive-title">3</span></a>
                            <a href="#" target="_blank" class="drive-link"><span class="drive-title">4</span></a>
                            <a href="#" target="_blank" class="drive-link"><span class="drive-title">5</span></a>
                        </div>
                        {% elif camp.branche == "BC" %}
                        {% if document.slug != 'PAF' %}
                        {% if document.slug == "grille_camp" or document.slug == "grille_ddcs" or document.slug == "grille_intendance" or document.slug == "intendace2" or document.slug == "grille_assurance" or document.slug == "Budget" or document.slug == "Budgetreal" or document.slug == "doc_ACM" or document.slug == "budget_2026" or document.slug == "pppv1" or document.slug == "pav2" or document.slug == "pvjv2" or document.slug == "pvcv2" or document.slug == "pavf" or document.slug == "pvjvf" or document.slug == "pvcvf" or document.slug == "grille_camp_2026" or document.slug == "grille_intendance_2026" or document.slug == "commandes_intendance_2026" or document.slug == "assurance_2026"%}
                        À mettre dans le drive ->
                        {% else %}
                        {% if document.file %}
                            <a href="{{ document.file.url }}" target="_blank">Télécharger</a>
                        {% else %}
                            Aucun fichier disponible
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% else %}
                        {% if document.slug != 'PAF' %}
                        {% if document.slug == "projetv1" or document.slug == "projetvf" or document.slug == "grille_camp" or document.slug == "grille_ddcs" or document.slug == "grille_intendance" or document.slug == "intendace2" or document.slug == "grille_assurance" or document.slug == "Budget" or document.slug == "Budgetreal" or document.slug == "doc_ACM" or document.slug == "budget_2026" or document.slug == "pppv1" or document.slug == "pav2" or document.slug == "pvjv2" or document.slug == "pvcv2" or document.slug == "pavf" or document.slug == "pvjvf" or document.slug == "pvcvf" or document.slug == "grille_camp_2026" or document.slug == "grille_intendance_2026" or document.slug == "commandes_intendance_2026" or document.slug == "assurance_2026"%}
                        À mettre dans le drive ->
                        {% else %}
                        {% if document.file %}
                            <a href="{{ document.file.url }}" target="_blank">Télécharger</a>
                        {% else %}
                            Aucun fichier disponible
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if document.slug == "inscriptions_prio" %}
                        {% elif document.slug == "Budget_RDV" %}
                        <a href="#" target="_blank" class="drive-link">
                            <span class="drive-title">Prendre RDV</span>
                        </a>
                        {% elif document.slug == "voiture_2026" %}
                        <a href="#" target="_blank" class="drive-link">
                            <span class="drive-title">Sheet à remplir</span>
                        </a>
                        {% elif document.slug == "maitrise_2026" %}
                        <a href="{{ camp.drive }}" target="_blank" class="drive-link">
                            <span class="drive-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"/>
                                </svg>
                            </span>
                            <span class="drive-title">Drive du Camp</span>
                        </a>
                        {% elif document.slug == "JN_2026" %}
                        <form method="post" action="{% url 'update_date_jn' camp.numero %}" class="state-form">
                            {% csrf_token %}
                            <div class="file-state-actions">
                                <input type="date" name="date_jn" value="{{ document.date_jn|date:'Y-m-d' }}" class="file-state-select">
                                <button type="submit" class="file-state-button">Enregistrer</button>
                            </div>
                        </form>
                        {% elif camp.branche == "BC" %}
                        {% if document.slug != 'PAF' %}
                        {% if document.slug == "grille_camp" or document.slug == "grille_ddcs" or document.slug == "grille_intendance" or document.slug == "intendace2" or document.slug == "grille_assurance" or document.slug == "Budget" or document.slug == "Budgetreal" or document.slug == "doc_ACM" or document.slug == "budget_2026" or document.slug == "pppv1" or document.slug == "pav2" or document.slug == "pvjv2" or document.slug == "pvcv2" or document.slug == "pavf" or document.slug == "pvjvf" or document.slug == "pvcvf" or document.slug == "grille_camp_2026" or document.slug == "grille_intendance_2026" or document.slug == "commandes_intendance_2026" or document.slug == "assurance_2026"%}
                        <a href="{{ camp.drive }}" target="_blank" class="drive-link">
                            <span class="drive-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"/>
                                </svg>
                            </span>
                            <span class="drive-title">Drive du Camp</span>
                        </a>
                        {% else %}
                        <form method="post" enctype="multipart/form-data" action="{% url 'upload_file' document.slug camp.numero %}" class="inline-form">
                            {% csrf_token %}
                            <input type="file" name="file" required>
                            <button type="submit" class="upload-btn">Téléverser</button>
                        </form>
                        {% if document.file %}
                        <form method="post" action="{% url 'delete_file' document.slug camp.numero %}" class="inline-form">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn">Supprimer</button>
                        </form>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% else %}
                        {% if document.slug != 'PAF' %}
                        {% if document.slug == "projetv1" or document.slug == "projetvf" or document.slug == "grille_camp" or document.slug == "grille_ddcs" or document.slug == "grille_intendance" or document.slug == "intendace2" or document.slug == "grille_assurance" or document.slug == "Budget" or document.slug == "Budgetreal" or document.slug == "doc_ACM" or document.slug == "budget_2026" or document.slug == "pppv1" or document.slug == "pav2" or document.slug == "pvjv2" or document.slug == "pvcv2" or document.slug == "pavf" or document.slug == "pvjvf" or document.slug == "pvcvf" or document.slug == "grille_camp_2026" or document.slug == "grille_intendance_2026" or document.slug == "commandes_intendance_2026" or document.slug == "assurance_2026"%}
                        <a href="{{ camp.drive }}" target="_blank" class="drive-link">
                            <span class="drive-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"/>
                                </svg>
                            </span>
                            <span class="drive-title">Drive du Camp</span>
                        </a>
                        {% else %}
                        <form method="post" enctype="multipart/form-data" action="{% url 'upload_file' document.slug camp.numero %}" class="inline-form">
                            {% csrf_token %}
                            <input type="file" name="file" required>
                            <button type="submit" class="upload-btn">Téléverser</button>
                        </form>
                        {% if document.file %}
                        <form method="post" action="{% url 'delete_file' document.slug camp.numero %}" class="inline-form">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn">Supprimer</button>
                        </form>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </td>
                    <td class="
                    {% if document.state == 'Non rendu' %}
                    etat-non-rendu
                {% elif document.state == 'Rendu' %}
                    etat-rendu
                {% elif document.state == 'Validé' %}
                    etat-valide
                {% elif document.state == 'Refusé' %}
                    etat-refuse
                {% elif document.state == 'Retour fait' %}
                    etat-retour
                {% elif document.state == 'En cours' %}
                    etat-encours
                {% endif %}
                    ">
                        {% if document.state == 'Retour fait' %}
                            Modifications à apporter
                        {% else %}
                            {{ document.state }}
                        {% endif %}
                    </td>
                    <td>
                        {% if document.slug == "inscriptions_prio" or document.slug == "Budget_RDV" or document.slug == "JN_2026" or document.slug == "maitrise_2026" or document.slug == "voiture_2026" %}
                    <form method="post" action="{% url 'update_file_state_cdc' document.slug camp.numero %}" class="state-form">
                        {% csrf_token %}
                        <div class="file-state-actions">
                            <div class="select-wrapper">
                                <select name="new_state" class="file-state-select">
                                    <option value="Non rendu" {% if document.state == "Non rendu" %}selected{% endif %}>Non rendu</option>
                                    <option value="En cours" {% if document.state == "En cours" %}selected{% endif %}>En cours</option>
                                    <option value="Rendu" {% if document.state == "Rendu" %}selected{% endif %}>Rendu</option>
                                    <option value="Validé" {% if document.state == "Validé" %}selected{% endif %}>Validé</option>
                                </select>
                            </div>
                            <button type="submit" class="file-state-button">Mettre à jour</button>
                        </div>
                    </form>
                    {% elif camp.branche == "BC" %}
                        {% if document.slug == 'PAF' %}
                    <form method="post" action="{% url 'update_file_state_cdc' document.slug camp.numero %}" class="state-form">
                        {% csrf_token %}
                        <div class="file-state-actions">
                            <div class="select-wrapper">
                                <select name="new_state" class="file-state-select">
                                    <option value="Non rendu" {% if document.state == "Non rendu" %}selected{% endif %}>Non uploadé</option>
                                    <option value="Rendu" {% if document.state == "Rendu" %}selected{% endif %}>Uploadé</option>
                                    <option value="En cours" {% if document.state == "En cours" %}selected{% endif %}>En cours</option>
                                </select>
                            </div>
                            <button type="submit" class="file-state-button">Mettre à jour</button>
                        </div>
                    </form>
                    {% elif document.slug == "grille_camp" or document.slug == "grille_ddcs" or document.slug == "grille_intendance" or document.slug == "intendace2" or document.slug == "grille_assurance" or document.slug == "Budget" or document.slug == "Budgetreal" or document.slug == "doc_ACM" or document.slug == "budget_2026" or document.slug == "pppv1" or document.slug == "pav2" or document.slug == "pvjv2" or document.slug == "pvcv2" or document.slug == "pavf" or document.slug == "pvjvf" or document.slug == "pvcvf" or document.slug == "grille_camp_2026" or document.slug == "grille_intendance_2026" or document.slug == "commandes_intendance_2026" or document.slug == "assurance_2026"%}
                    <form method="post" action="{% url 'update_file_state_cdc' document.slug camp.numero %}" class="state-form">
                        {% csrf_token %}
                        <div class="file-state-actions">
                            <div class="select-wrapper">
                                <select name="new_state" class="file-state-select">
                                    <option value="Non rendu" {% if document.state == "Non rendu" %}selected{% endif %}>Non rendu</option>
                                    <option value="En cours" {% if document.state == "En cours" %}selected{% endif %}>En cours</option>
                                    <option value="Rendu" {% if document.state == "Rendu" %}selected{% endif %}>Rendu</option>
                                    <option value="Validé" {% if document.state == "Validé" %}selected{% endif %}>Validé</option>
                                </select>
                            </div>
                            <button type="submit" class="file-state-button">Mettre à jour</button>
                        </div>
                    </form>
                    {% elif  document.slug == "projetv1" or document.slug == "projetvf" or document.slug == "fil_rouge" or document.slug == "fil_bleu" or document.slug == "fil_vert" %}
                        {% if document.file_retour %}
                            <a href="{{ document.file_retour.url }}" target="_blank">Télécharger</a>
                        {% else %}
                            Pas de projet retourné pour l'instant
                        {% endif %}
                    {% else %}
                        {{ document.comment|default:"" }}
                    {% endif %}
                    {% else %}
                    {% if document.slug == 'PAF' %}
                    <form method="post" action="{% url 'update_file_state_cdc' document.slug camp.numero %}" class="state-form">
                        {% csrf_token %}
                        <div class="file-state-actions">
                            <div class="select-wrapper">
                                <select name="new_state" class="file-state-select">
                                    <option value="Non rendu" {% if document.state == "Non rendu" %}selected{% endif %}>Non uploadé</option>
                                    <option value="Rendu" {% if document.state == "Rendu" %}selected{% endif %}>Uploadé</option>
                                    <option value="En cours" {% if document.state == "En cours" %}selected{% endif %}>En cours</option>
                                </select>
                            </div>
                            <button type="submit" class="file-state-button">Mettre à jour</button>
                        </div>
                    </form>
                    {% elif document.slug == "projetv1" or document.slug == "projetvf" or document.slug == "grille_camp" or document.slug == "grille_ddcs" or document.slug == "grille_intendance" or document.slug == "intendace2" or document.slug == "grille_assurance" or document.slug == "Budget" or document.slug == "Budgetreal" or document.slug == "doc_ACM" or document.slug == "budget_2026" or document.slug == "pppv1" or document.slug == "pav2" or document.slug == "pvjv2" or document.slug == "pvcv2" or document.slug == "pavf" or document.slug == "pvjvf" or document.slug == "pvcvf" or document.slug == "grille_camp_2026" or document.slug == "grille_intendance_2026" or document.slug == "commandes_intendance_2026" or document.slug == "assurance_2026"%}
                    <form method="post" action="{% url 'update_file_state_cdc' document.slug camp.numero %}" class="state-form">
                        {% csrf_token %}
                        <div class="file-state-actions">
                            <div class="select-wrapper">
                                <select name="new_state" class="file-state-select">
                                    <option value="Non rendu" {% if document.state == "Non rendu" %}selected{% endif %}>Non rendu</option>
                                    <option value="En cours" {% if document.state == "En cours" %}selected{% endif %}>En cours</option>
                                    <option value="Rendu" {% if document.state == "Rendu" %}selected{% endif %}>Rendu</option>
                                    <option value="Validé" {% if document.state == "Validé" %}selected{% endif %}>Validé</option>
                                </select>
                            </div>
                            <button type="submit" class="file-state-button">Mettre à jour</button>
                        </div>
                    </form>
                    {% elif  document.slug == "projetvf" or document.slug == "fil_rouge" or document.slug == "fil_bleu" or document.slug == "fil_vert" %}
                        {% if document.file_retour %}
                            <a href="{{ document.file_retour.url }}" target="_blank">Télécharger</a>
                        {% else %}
                            Pas de projet retourné pour l'instant
                        {% endif %}
                    {% else %}
                        {{ document.comment|default:"" }}
                    {% endif %}
                    {% endif %}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            </ul>
        {% else %}
            <p>Aucun camp n'est associé à votre compte.</p>
        {% endif %}
    </main>
</body>
</html>
