{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Site animateur</title>
    <link rel="preload" href="{% static 'images/login.jpg' %}" as="image">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home1.css' %}">
    <style>
        body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background: linear-gradient(135deg, rgba(0, 86, 179, 0.1) 0%, rgba(255, 107, 0, 0.1) 100%),
                url("/static/images/photo2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    position: relative;
}
    </style>
</head>

<body>
    <header>
        <a href="/" class="logo" aria-label="Retour à l'accueil">
            <img src="{% static 'images/logo.png' %}" alt="Logo de l'association EEIF">
        </a>
        
        <div class="mobile-menu-toggle" onclick="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <nav id="mobile-nav">
            <ul>
                    <li><a href="https://eeif.assoconnect.com/page/2043322-accueil" target="_blank" rel="noopener noreferrer">Assoconnect</a></li>
                    <li><a href="https://www.eeif.org" target="_blank" rel="noopener noreferrer">Site EEIF</a></li>
                    <li><a href="https://chiourim.com/liste-des-produits-casher-du-rav-wolff-pour-eeif/">Liste Kasher</a></li>
                    <li><a href="{% static 'files/organigramme.pdf' %}" target="_blank">Contact</a></li>
                    <li><a href="{% url 'simulation' %}">Jeu Zadeck</a></li>
                    {% if user.is_authenticated %}
                        {% if is_superuser%}
                            <li><a href="{% url 'admin:index' %}">Espace Admin</a></li>
                            <li><a href="{% url 'cga' %}">Espace Logistique</a></li>
                        {% elif is_in_anbm %}
                            <li><a href="{% url 'bm' %}">Espace ANBM</a></li>
                        {% elif is_in_anbc %}
                            <li><a href="{% url 'bc' %}">Espace ANBC</a></li>
                        {% elif is_in_anbp %}
                            <li><a href="{% url 'bp' %}">Espace ANBP</a></li>
                        {% elif is_in_anrgl %}
                            <li><a href="{% url 'log' %}">Espace ANRGL</a></li>
                        {% elif is_in_logistique %}
                            <li><a href="{% url 'log' %}">Espace Logistique</a></li>
                        {% elif is_in_masai %}
                            <li><a href="{% url 'cga' %}">Espace Masaï</a></li>
                        {% elif is_in_gl %}
                            <li><a href="{% url 'gl' %}">Espace GL</a></li>
                        {% elif is_in_cga %}
                            <li><a href="{% url 'cga' %}">Espace CGA</a></li>
                        {% else %}
                            <li><a href="{% url 'cdc' %}">Espace CDC</a></li>
                        {% endif %}
                    {% endif %}
            </ul>
        </nav>

        <div class="auth-links">
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Se déconnecter</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="login-btn">Se connecter</a>
            {% endif %}
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="hero-container">
                <div class="card">
                    <h2>Actualités</h2>
                    <img src="{% static 'images/fleg.jpg' %}" alt="Image 1">
                    <img src="{% static 'images/ava.png' %}" alt="Image 1">
                </div>
                <div class="card">
                    <h2>Prochainement</h2>
                    <img src="{% static 'images/lancement.png' %}" alt="Image 2">
                    <img src="{% static 'images/selihot.png' %}" alt="Image 2">
                    <img src="{% static 'images/bbq.png' %}" alt="Image 2">
                </div>
                <div class="card resources">
                    <h2>Ressources</h2>
                    <div class="files-container">
                        <div class="file-item">
                            <a href="{% static 'files/Referentiel.xlsx' %}" aria-label="Référentiel">
                                <img src="{% static 'images/camp.jpg' %}" alt="PDF File">
                                <p>Référentiel BM</p>
                            </a>
                        </div>
                        <div class="file-item">
                            <a href="{% static 'files/Sidour.pdf' %}" aria-label="Référentiel">
                                <img src="{% static 'images/Sidour.jpg' %}" alt="PDF File">
                                <p>Sidour EEIF</p>
                            </a>
                        </div>
                        <div class="file-item">
                            <a href="{% static 'files/Guide.pdf' %}" aria-label="Référentiel">
                                <img src="{% static 'images/Zadeck.png' %}" alt="PDF File">
                                <p>Guide du Zadeck</p>
                            </a>
                        </div>
                        <div class="file-item">
                            <a href="{% static 'files/Tyoul.pdf' %}" aria-label="Référentiel">
                                <img src="{% static 'images/feu.jpg' %}" alt="PDF File">
                                <p>Fiche Tyoul</p>
                            </a>
                        </div>
                        <div class="file-item">
                            <a href="{% static 'files/Birkat.pdf' %}" aria-label="Référentiel">
                                <img src="{% static 'images/Sidour.jpg' %}" alt="PDF File">
                                <p>Birkat</p>
                            </a>
                        </div>
                        <!-- Ajoutez plus de fichiers si nécessaire -->
                        {% if user.is_authenticated %}
                        <div class="file-item">
                            <a href="{% url 'fichiers:upload_excel' %}" aria-label="Référentiel">
                                <img src="{% static 'images/excel.png' %}" alt="Link">
                                <p>Export fiches sanitaires</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    
    <footer>
            <div class="footer-section">
                <div class="social-media">
                    <a href="https://www.facebook.com/EclaireusesEclaireursIsraelitesdeFranceEEIF/?locale=fr_FR" aria-label="Facebook">
                        <img src="{% static 'images/facebook.jpg' %}" alt="Facebook">
                    </a>
                    <a href="https://fr.linkedin.com/company/e.e.i.f" aria-label="LinkedIn">
                        <img src="{% static 'images/linkedin.jpg' %}" alt="LinkedIn">
                    </a>
                    <a href="https://www.instagram.com/eeifcentrenational/" aria-label="Instagram">
                        <img src="{% static 'images/instagram.jpeg' %}" alt="Instagram">
                    </a>
                    <a href="https://www.instagram.com/eeifbc/" aria-label="Instagram">
                        <img src="{% static 'images/instagram.jpeg' %}" alt="Instagram">
                    </a>
                    <a href="https://www.instagram.com/eeifbm/" aria-label="Instagram">
                        <img src="{% static 'images/instagram.jpeg' %}" alt="Instagram">
                    </a>
                    <a href="https://www.instagram.com/eeif_bp/" aria-label="Instagram">
                        <img src="{% static 'images/instagram.jpeg' %}" alt="Instagram">
                    </a>
                    <a href="https://www.instagram.com/eeif_animateurs/" aria-label="Instagram">
                        <img src="{% static 'images/instagram.jpeg' %}" alt="Instagram">
                    </a>
                    <a href="#" aria-label="WhatsApp">
                        <img src="{% static 'images/whatsapp.jpg' %}" alt="WhatsApp">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    
    <script>
        function toggleMobileMenu() {
            const nav = document.getElementById('mobile-nav');
            nav.classList.toggle('active');
        }
        
        // Fermer le menu mobile quand on clique sur un lien
        document.addEventListener('DOMContentLoaded', function() {
            const navLinks = document.querySelectorAll('#mobile-nav a');
            navLinks.forEach(link => {
                link.addEventListener('click', function() {
                    document.getElementById('mobile-nav').classList.remove('active');
                });
            });
            
            // Fermer le menu quand on redimensionne la fenêtre
            window.addEventListener('resize', function() {
                if (window.innerWidth > 768) {
                    document.getElementById('mobile-nav').classList.remove('active');
                }
            });
        });
    </script>
</body>
</html>